{% extends "base.html" %}

{% block script %}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
    var socket = io('/game');
    var in_game = false;

    socket.on('connect', function() {
        socket.emit('join', {hashed_game_id: '{{ hashed_game_id }}'});
    });

    socket.on('update_players', function(data) {
        if(in_game){
            return
        }
        var playersList = document.getElementById('players');
        if (data.players.length > 0) {
            playersList.innerHTML = '';
            data.players.forEach(function(player) {
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(player.name));
            li.className = 'list-group-item';
            playersList.appendChild(li);
        });
    } else {
        playersList.innerHTML = 'No players yet.';
    }
    });


    socket.on('update_settings', function(data) {
        if(in_game){
            return
        }
        if (data.settings) {
            document.getElementById('starting_card_amount').value = data.settings.starting_card_amount;
            document.getElementById('black_card_finish').checked = data.settings.black_card_finish === true;
            document.getElementById('black_on_black').checked = data.settings.black_on_black === true;
            document.getElementById('plus_two_stacking').checked = data.settings.plus_two_stacking === true;
        }
    });

    socket.on('start_game', function(data) {
        if(in_game){
            return
        }
        if (!data.start) {
            document.getElementById('startGameButton').disabled = false;
            return
        }
        console.log("Game is starting...");
        document.body.innerHTML = '<h1>Game is loading ...</h1>';
        fetch("{{ url_for('sites.game', hashed_game_id=hashed_game_id, _external=True) }}")
        .then(response => response.text())
        .then(html => {
            document.body.innerHTML = html;
            in_game = true;
            socket.emit('request_cards', {hashed_game_id: '{{ hashed_game_id }}'});
        })
        .catch(error => console.error('Error loading the game interface:', error));
    });

    socket.on('kick', function(data) {
        alert(data.message);
        window.location.href = '{{url_for('sites.index')}}';
    });

    function updateSettings() {
        var settingsData = {
            starting_card_amount: document.getElementById('starting_card_amount').value,
            black_card_finish: document.getElementById('black_card_finish').checked,
            black_on_black: document.getElementById('black_on_black').checked,
            plus_two_stacking: document.getElementById('plus_two_stacking').checked
        };
        socket.emit('update_settings', {hashed_game_id: '{{ hashed_game_id }}', settings: settingsData});
    }

    function startGame() {
        socket.emit('start_game', {hashed_game_id: '{{ hashed_game_id }}'});
        document.getElementById('startGameButton').disabled = true;
    }

    //in_game

    socket.on('update_cards', function(data) {
        if (in_game) {
            console.log('Cards data:', data.cards);
            var cardCountsList = document.getElementById('card-counts');
            cardCountsList.innerHTML = '';
            for (var player in data.cards) {
                var cardCountItem = document.createElement('div');
                cardCountItem.className = 'card-count-item';
                cardCountItem.innerHTML = `Player: ${player}, Cards: ${data.cards[player]}`;
                cardCountsList.appendChild(cardCountItem);
            }
            if(data.pull_cards) {
                socket.emit('request_cards', {hashed_game_id: '{{ hashed_game_id }}'});
            }
        }
    });

    socket.on('update_own_cards', function(data) {
        if (in_game) {
            console.log('Move done, cards:', data.cards);
            var cardsList = document.getElementById('cards');
            cardsList.innerHTML = '';
            data.cards.forEach(function(card) {
                var cardItem = document.createElement('div');
                cardItem.className = 'card-item';
                cardItem.innerHTML = `ID: ${card.id}, Color: ${card.color}, Value: ${card.value}, Type: ${card.type}`;
                var playButton = document.createElement('button');
                playButton.innerHTML = 'Play';
                playButton.className = 'play-button';

                playButton.addEventListener('click', function() {
                    makeMove('card', card.id);
                });
                cardItem.appendChild(playButton);
                cardsList.appendChild(cardItem);
            });
        }
    });

    function makeMove(action, card_id = null) {
        if (in_game) {
            socket.emit('move', {hashed_game_id: '{{ hashed_game_id }}', action: action, card_id: card_id});
        } else {
            console.log("Cannot make a move. The player is not in a game.");
        }
    }

    </script>
    {% block single_page_script %}{% endblock %}
{% endblock %}