{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center pt- g-3">
    <div class="col-12 col-sm-10 col-lg-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create a Game</h3>
                <form method="post">
                    {{ create_game_form.hidden_tag() }}
                    <p>
                        {{ create_game_form.game_name.label }}<br>
                        {{ create_game_form.game_name(size=20) }}
                    </p>
                    <p>
                        {{ create_game_form.public.label }} {{ create_game_form.public() }}<br>
                        {{ create_game_form.private.label }} {{ create_game_form.private() }}
                    </p>
                    <p>
                        {{ create_game_form.password.label }}<br>
                        {{ create_game_form.password(size=20) }}
                    </p>
                    <p>{{ create_game_form.submit() }}</p>
                </form>
            </div> 
        </div> 
    </div> 
    <div class="col-12 col-sm-10 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">All Games</h3>
                {% if games|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-7">Name</th>
                            <th scope="col" class="col-md-2">Players</th>
                            <th scope="col" class="col-md-1">Status</th>
                            <th scope="col" class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for game in games %}
                        <tr>
                            <td>{{ game.name }}</td>
                            <td>{{ game.player_count }}</td>
                            <td>
                                {% if game.protection == 0 %}
                                    <i class="bi bi-lock"></i></td><td>Private</td>
                                {% elif game.protection == 1 %}
                                    <i class="bi bi-unlock"></i></td><td>Public</td>
                                {% elif game.protection == 2 %}
                                    <i class="bi bi-key"></i> </td><td>Password</td>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="pb-2">
                        Its pretty quite down here 
                    </div>
                {% endif %}
            </div> 
        </div> 
    </div> 
</div>
{% endblock %}
