{% extends "game_script.html" %}

{% block content %}
    <h1>This is a test</h1>
    <button onclick="makeMove('draw')" id="makeMoveButton" class="btn btn-secondary">Draw</button>
    <div id="cards" class="mt-3"></div>
    <div id="card-counts" class="mt-3"></div>
    <div id="last-card"class="mt-3"></div>
    <div id="colorSelector" style="display: none;">
        <button class="colorButton red" data-color="red">Red</button>
        <button class="colorButton yellow" data-color="yellow">Yellow</button>
        <button class="colorButton green" data-color="green">Green</button>
        <button class="colorButton blue" data-color="blue">Blue</button>
    </div>
{% endblock content %}