{% extends "game_script.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for("static", filename = "css/game.css")}}">

    <div id="colorSelector" style="display: none;">
        <button class="colorButton red" data-color="red" class="btn btn-secondary">Red</button>
        <button class="colorButton yellow" data-color="yellow" class="btn btn-secondary">Yellow</button>
        <button class="colorButton green" data-color="green" class="btn btn-secondary">Green</button>
        <button class="colorButton blue" data-color="blue" class="btn btn-secondary">Blue</button>
    </div>
    
    <div class="game-area">
        <div class="row justify-content-center pt-3 g-3" id="card-counts">
        </div>
        <div class="row justify-content-center pt-3 g-3">
            <div class="col-4" id="discard-pile">
                <div class="card">
                    <div class="card-body">
                        <h3>Discard Pile</h3>
                        <div class="cards" id="discard-cards">
                            <img class="w-100" src="output_cards/yellow_2.jpg" alt="yellow 2" id="last_card_image">
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Draw Pile</h3>
                        <button onclick="makeMove('draw')" id="makeMoveButton" class="btn btn-link">
                            <img class="w-100" src="{{url_for("static", filename = "images/cards/uno_card_back.jpg")}}" alt="Kartenrückseite">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorSelector" style="display: none;">
            <button class="colorButton red" data-color="red" class="btn btn-secondary">Red</button>
            <button class="colorButton yellow" data-color="yellow" class="btn btn-secondary">Yellow</button>
            <button class="colorButton green" data-color="green" class="btn btn-secondary">Green</button>
            <button class="colorButton blue" data-color="blue" class="btn btn-secondary">Blue</button>
        </div>
        <button onclick="sayUno()" id="makeMoveButton" class="btn btn-secondary">UNO</button>

        <div id="cards" class="row justify-content-center pt-3"></div>
{% endblock content %}


