{% extends "game_script.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for("static", filename = "css/game.css")}}">
    <h1>This is a test</h1>
    <button onclick="makeMove('draw')" id="makeMoveButton" class="btn btn-secondary">Draw</button>
    <div id="cards" class="mt-3"></div>
    <div id="last-card"class="mt-3"></div>
    <div id="colorSelector" style="display: none;">
        <button class="colorButton red" data-color="red" class="btn btn-secondary">Red</button>
        <button class="colorButton yellow" data-color="yellow" class="btn btn-secondary">Yellow</button>
        <button class="colorButton green" data-color="green" class="btn btn-secondary">Green</button>
        <button class="colorButton blue" data-color="blue" class="btn btn-secondary">Blue</button>
    </div>
    <button onclick="sayUno()" id="makeMoveButton" class="btn btn-secondary">UNO</button>

    
    <div class="game-area">
        <div class="row justify-content-center pt-3 g-3" id="card-counts">
        </div>
        <div class="row justify-content-center pt-3 g-3">
            <div class="col-4" id="discard-pile">
                <div class="card">
                    <div class="card-body">
                        <h3>Ablagestapel</h3>
                        <div class="cards" id="discard-cards">
                            <img class="card yellow" src="output_cards/yellow_2.jpg" alt="yellow 2">
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Draw Pile</h3>
                        <button onclick="makeMove('draw')" id="makeMoveButton" class="btn btn-link">
                            <img class="w-100" src="{{url_for("static", filename = "images/cards/uno_card_back.jpg")}}" alt="Kartenrückseite">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="player-area player-bottom">
            <h2>Your Cards</h2>
            <p> </p>
            <div class="cards" id="player-1-cards">
                <button><img class="card red" src="output_cards/red_5.jpg" alt="red 5"></button>
                <button><img class="card yellow" src="output_cards/yellow_7.jpg" alt="yellow 7"></button>
                <button><img class="card green" src="output_cards/green_2.jpg" alt="green 2"></button>
                <button><img class="card yellow" src="output_cards/vierziehen.jpg" alt="yellow 3"></button>
                <button><img class="card blue" src="output_cards/blue_9.jpg" alt="blue 9"></button>
                <button><img class="card yellow" src="output_cards/vierziehen2.jpg" alt="yellow 3"></button>
                <button><img class="card wild" src="output_cards/yellow_reverse.jpg" alt="WILD"></button>
                <button><img class="card red" src="output_cards/red_1.jpg" alt="red 1"></button>
                <button><img class="card yellow" src="output_cards/yellow_3.jpg" alt="yellow 3"></button>
                <button><img class="card yellow" src="output_cards/wild.jpg" alt="yellow 3"></button>
                <button><img class="card yellow" src="output_cards/vierziehen.jpg" alt="yellow 3"></button>
                <button><img class="card yellow" src="output_cards/vierziehen2.jpg" alt="yellow 3"></button>
            </div>
        </div>
    </div>
{% endblock content %}


