{% extends "base.html" %}
{% block content %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Uno Bruno Startpage</title>
    <style>
        .card-img-top {
            height: 225px;
            object-fit: cover;
        }

        .character-img {
            height: 420px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong" style="position: relative; height: 500px; width: 100%;">
        <div class="container d-flex align-items-center justify-content-center"
            style="background-image: url('{{ url_for('static', filename='images/background.avif') }}'); background-size: cover;  background-position: center; height: 500px; width: 130%;">
            <div class="mask"
                style="background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            </div>
            <div class=" text-white text-center" data-mdb-theme="dark" style="position: relative; z-index: 1;">
                <h1 class=" mb-3">Try out the new Bruno Game</h1>
                <p class="mb-4">Bereit für eine pfotenstarke Runde Uno mit einem Hauch von Hundeliebe?
                    Herzlich willkommen bei Bruno, wo das klassische Kartenspiel Uno mit einem einzigartigen
                    Hundethema zum Leben erweckt wird!</p>
                <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="{{url_for('sites.games')}}"
                    role="button" rel="nofollow" target="_blank">Let's try</a>
            </div>
        </div>
    </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <div class="card box-shadow">
                        <img class="card-img-top" alt="Uno for Friends"
                            src="{{ url_for('static', filename='images/uno-with-friends.jpg') }}">
                        <div class="card-body">
                            <p class="card-text">Spiele online mit deinen Freunden,
                                genieße das klassische Kartenspiel Uno und nutze Funktionen wie z.B. den Chat für ein
                                noch besseres Spielerlebnis.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i
                                            class="bi bi-play-fill"></i> Play</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <div class="card box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            src="{{ url_for('static', filename='images/uno.jpg') }}">
                        <div class="card-body">
                            <p class="card-text">Fordere dich alleine heraus, genieße das klassische Kartenspiel Uno und
                                erlebe spannende Solo-Spielerlebnisse mit verschiedenen Schwierigkeitsstufen.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i
                                            class="bi bi-play-fill"></i> Play</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light py-5">
            <div class="container">
                <h1 class="text-center mb-4">Unsere Charaktere</h1>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="box text-center">
                            <img src="{{ url_for('static', filename='images/dog1.jpg') }}"
                                class="img-fluid d-block mx-auto character-img" alt="Cooper">
                            <div class="mt-3">
                                <h4>Cooper</h4>
                                <p class="text-center">Ein mutiger und loyaler Vierbeiner, der immer darauf bedacht ist,
                                    seine Familie zu beschützen.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="box text-center">
                            <img src="{{ url_for('static', filename='images/dog2.webp') }}"
                                class="img-fluid d-block mx-auto character-img" alt="Lucy">
                            <div class="mt-3">
                                <h4>Lucy</h4>
                                <p class="text-center">Eine elegante und anmutige Husky-Dame mit lebhaften blauen Augen,
                                    die gerne Abenteuer erlebt und die Welt erkundet.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="box text-center">
                            <img src="{{ url_for('static', filename='images/dog4.jpg') }}"
                                class="img-fluid d-block mx-auto character-img" alt="Molly">
                            <div class="mt-3">
                                <h4>Molly</h4>
                                <p class="text-center">Mit seiner majestätischen Erscheinung und seinem sanften Wesen
                                    verkörpert der Bernhardiner die Perfektion eines treuen Begleiters und Beschützers,
                                    der stets bereit ist, seine Liebe und Wärme zu spenden.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="box text-center">
                            <img src="{{ url_for('static', filename='images/buddy.jpeg') }}"
                                class="img-fluid d-block mx-auto character-img" alt="Buddy">
                            <div class="mt-3">
                                <h4>Buddy</h4>
                                <p class="text-center">Ein fröhlicher und verspielter Mischlingshund, der mit seiner
                                    unendlichen Energie und seinem charmanten Wesen alle um sich herum glücklich macht.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="text-muted py-4">
            <div class="container text-center">
                <p>Bruno | Est 2024</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvvQ3qkap6rdtCEXQ6"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJTYbFrtKgz/jpA2mY0QVSYwRRYlI1MZr4j2Vmc8xuvx05x4g"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-smHYkdj6eE78fBas+T4snM+AiF6ofX7kNy5uA9kDMQzXBuhvpTJD8Nf/Whl13EJZ"
            crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}