{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for("sites.index")}}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Bruno Logo" height="30">
                Bruno
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                </ul>
                <a class="btn btn-primary ms-auto" href="{{url_for('sites.games')}}">
                    <i class="bi bi-play-fill"></i> Play Now!
                </a>
            </div>
        </div>
    </nav>

    <!-- Displaying flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}