{% extends "navbar.html" %}

{% block content %}
<div class="row justify-content-center pt-3 g-3">
    <!-- Password Form -->
    <div class="col-12 col-sm-8 col-lg-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Enter your Password</h3>
                <form method="post">
                    {{ game_password_form.hidden_tag() }}
                    
                    <!-- Password Field -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <div class="form-floating flex-grow-1">
                            {{ game_password_form.password(class="form-control", id="password", placeholder="Password") }}
                            <label for="password">{{ game_password_form.password.label.text }}</label>
                        </div>
                    </div>
                    
                    <!-- Submit Button -->
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" name="password_submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
