{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center pt-3 g-3">
        <!-- Player List on the Left -->
        <div class="col-12 col-sm-10 col-lg-5 col-xl-4">
            <div class="card">
               <div class="card-body">
                    <h3 class="card-title">Player List</h3>
                    <ul class="list-group" id="players" aria-label="List of players">
                        {% for player in players %}
                            <li class="list-group-item">{{ player.name }}</li>
                        {% else %}
                            No players yet.
                        {% endfor %}
                    </ul>
                    <div class="input-group mt-3">
                        <span class="input-group-text"><i class="bi bi-hash"></i></span>                    
                        <span class="input-group-text flex-grow-1">{{ hashed_game_id }}</span>
                    </div>
                    <div class="input-group mt-2">
                        <span class="input-group-text"><label for="inviteLink" class="">Invite</label></span>
                        <input type="text" id="inviteLink" class="form-control" value="{{ url_for('sites.game.join', hashed_game_id=hashed_game_id, _external=True) }}" readonly>
                        <button class="btn btn-outline-secondary" type="button" id="copyButton" onclick="copyInviteLink()">
                            <i class="bi bi-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Settings Menu on the Right -->
        <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Settings</h3>
                    <div>Nothing here yet</div>
                    <!-- Game settings form stuff-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
        function updatePlayerList() {
            /**
            * Periodically updates the list of players in the game lobby.
            * 
            * This function fetches the current list of players from a Flask API endpoint and updates
            * the HTML of the page to reflect any changes in the lobby. It uses AJAX to make a GET request
            * to the server and then dynamically updates the content of a list in the HTML without reloading the page.
            * The function is set to run every 5 seconds, providing near real-time updates of the player list.
            *
            * The `hashedGameId` is a variable interpolated from the server-side template, which represents
            * a securely hashed identifier for the game. This ID is used to make the API call to the correct endpoint.
            */
            const hashedGameId = '{{hashed_game_id}}';
            $.getJSON(`/api/v1/lobby/state/${hashedGameId}`, function(data) {
                const players = data.players;
                const $list = $('#players');
                $list.empty();
                players.forEach(function(player) {
                    $list.append(`<li class="list-group-item">${player.name}</li>`);
                });
                if (players.length < 1){
                    $list.append("No players yet.");
                }   
            }).fail(function() {
                console.error("Failed to fetch players.");
                $('#player-list').append('<p>Error loading players.</p>');
            });
        }
        setInterval(updatePlayerList, 1000);
    });
    </script>
    <script>
    function copyInviteLink() {
        /**
        * Copies the game invitation link to the clipboard.
        * 
        * This function triggers when the user clicks the 'Copy Link' button.
        * It selects the content of the input element that holds the game URL,
        * copies that content to the clipboard, and alerts the user that the
        * action has been completed.
        */
        var copyText = document.getElementById("inviteLink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        alert("Copied the link: " + copyText.value);
    }
    </script>
    <script>
    window.addEventListener('beforeunload', function(event) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/v1/lobby/leave', false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ message: 'Tab is closing' }));
        event.returnValue = 'Are you sure you want to leave?';
    });
    </script>
{% endblock %}