{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center pt-3 g-3">
        <!-- Player List on the Left -->
        <div class="col-12 col-sm-10 col-lg-5 col-xl-4">
            <div class="card">
               <div class="card-body">
                    <h3 class="card-title">Player List</h3>
                    <ul class="list-group" id="players" aria-label="List of players">
                        Loading ...
                    </ul>
                    <div class="input-group mt-3">
                        <span class="input-group-text"><i class="bi bi-hash"></i></span>                    
                        <span class="input-group-text flex-grow-1">{{ hashed_game_id }}</span>
                    </div>
                    <div class="input-group mt-2">
                        <span class="input-group-text"><label for="inviteLink" class="">Invite</label></span>
                        <input type="text" id="inviteLink" class="form-control" value="{{ url_for('sites.game.join', hashed_game_id=hashed_game_id, _external=True) }}" readonly>
                        <button class="btn btn-outline-secondary" type="button" id="copyButton" onclick="copyInviteLink()">
                            <i class="bi bi-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Settings Menu on the Right -->
        <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Settings</h3>
                    <!-- Starting Card Amount -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Starting Card Amount</span>
                        <input type="number" class="form-control" id="starting_card_amount" value="7" min="1" max="20" onchange="updateSettings()">
                    </div>
                    <!-- Black Card Finish Checkbox -->
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" id="black_card_finish" onchange="updateSettings()">
                        </div>
                        <span class="form-control">Allow Black Card Finish</span>
                    </div>

                    <!-- Black on Black Card Checkbox -->
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" id="black_on_black" onchange="updateSettings()">
                        </div>
                        <span class="form-control">Allow Black on Black Card</span>
                    </div>

                    <!-- +2 Stacking Checkbox -->
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" id="plus_two_stacking" onchange="updateSettings()">
                        </div>
                        <span class="form-control">Allow +2 Stacking</span>
                    </div>
                    <!-- Start Game Button -->
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-success" id="startGameButton" onclick="startGame()">
                            <i class="bi bi-play-fill"></i> Start Game
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
    var socket = io('/lobby');

    socket.on('connect', function() {
        socket.emit('join', {hashed_game_id: '{{ hashed_game_id }}'});
    });

    socket.on('update_players', function(data) {
        var playersList = document.getElementById('players');
        if (data.players.length > 0) {
            playersList.innerHTML = '';
            data.players.forEach(function(player) {
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(player.name));
            li.className = 'list-group-item';
            playersList.appendChild(li);
        });
    } else {
        playersList.innerHTML = 'No players yet.';
    }
    });


    socket.on('update_settings', function(data) {
        if (data.settings) {
            document.getElementById('starting_card_amount').value = data.settings.starting_card_amount;
            document.getElementById('black_card_finish').checked = data.settings.black_card_finish === true;
            document.getElementById('black_on_black').checked = data.settings.black_on_black === true;
            document.getElementById('plus_two_stacking').checked = data.settings.plus_two_stacking === true;
        }
    });

    function updateSettings() {
        var settingsData = {
            starting_card_amount: document.getElementById('starting_card_amount').value,
            black_card_finish: document.getElementById('black_card_finish').checked,
            black_on_black: document.getElementById('black_on_black').checked,
            plus_two_stacking: document.getElementById('plus_two_stacking').checked
        };
        socket.emit('update_settings', {hashed_game_id: '{{ hashed_game_id }}', settings: settingsData});
    }
    </script>
    <script>
    function copyInviteLink() {
        /**
        * Copies the game invitation link to the clipboard.
        * 
        * This function triggers when the user clicks the 'Copy Link' button.
        * It selects the content of the input element that holds the game URL,
        * copies that content to the clipboard, and alerts the user that the
        * action has been completed.
        */
        var copyText = document.getElementById("inviteLink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }
    </script>
{% endblock %}