{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center pt-3 g-3">
        <!-- Player List on the Left -->
        <div class="col-12 col-sm-10 col-lg-4 col-xl-3">
            <div class="card">
               <div class="card-body">
                    <h3 class="card-title">Player List</h3>
                    <ul class="list-group list-group-flush">
                        {% for player in players %}
                            <li class="list-group-item">{{ player.name }}</li>
                        {% else %}
                            <li class="list-group-item">No players yet.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Settings Menu on the Right -->
        <div class="col-12 col-sm-10 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Settings</h3>
                    <form action="#" method="post">
                        <div class="mb-3">
                            <label for="gameSetting" class="form-label">Game Setting</label>
                            <input type="text" class="form-control" id="gameSetting" name="gameSetting">
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
