.glow {
  box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.7);
}

.own-card:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.unstyled-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.uno-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  border-radius: 20%;
  overflow: visible;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}